body
{ margin: 10px 40px;
  font-size: 16px;
  height: 17px;
  font-family: "Times New Roman", serif;
}

body.restricted
{ width: 850px;
  margin-left: auto;
  margin-right: auto;
}

#header
{ margin-bottom: 20px;
  font-weight: bold;
  position: relative;
}

#pdf
{ height: 30px;
  position: absolute;
  top: 20;
  left: 10;
}

.name
{ display: inline-block;
  font-size: 32px;
  height: 36px;
}

a[href], a[href]:visited, a[href]:active
{ color: inherit;
  text-decoration: none;
  border-bottom:1px dashed;
  display: inline-block;
  font-size: 16px;
  height: 17px;
  margin-bottom: 0px;
}
.email
{ display: inline-block;
  font-size: 16px;
  height: 22px;
}
a[href]:hover
{ border-bottom: 1px solid;
}

div.right
{ text-align: right;
}
.text-centered
{ text-align: center;
}

.section-title > a:last-child
{ float: right;
  padding-top: 2px;
  background-color: white;
}
.section-title
{ border-bottom: 1px solid darkgrey;
  font-weight: bold;
}

.work .content p
{ margin: 0 0 8px;
}
.work .content > div:first-child
{ width: 28%;
  display: inline-block;
  vertical-align: top;
}
.work .content > div + div
{ width: 72%;
  display: inline-block;
}

ul.split > div
{ display: inline-block;
}

section {
  margin-bottom: 24px;
}

.content
{ margin: 16px 5px 16px 5px
}

p.content, div.content
{ margin-left: 16px;
  display: block;
}

.project-year
{ padding-left: 1em;
  float: right;
}

ul
{ margin: 1px;
  margin-bottom: 4px;
  padding-left: 30px;
}
li
{ margin-bottom: 4px;
  line-height: 1.2
}

#footer
{ font-size: small;
  text-align: center;
  display: none;
}

/*.no-print
{ display: none;
}*/

@media print
{ @page
  { margin: .2in, .4in, .2in, .4in;
  }

  body
  { margin-top: 0px;
  }

  .section > a:last-child
  { border-bottom: none !important;}
  a
  { color: inherit !important;
    border-bottom: inherit !important;
  }

  .no-print
  { display: none;
  }

  #footer
  { display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}
