html
  head
    title George Matter's R&eacute;sum&eacute;
    link(rel="stylesheet", href="resume.css")
    script(type="text/javascript").
      window.onresize = function()
      { if (window.innerWidth > 880) document.body.setAttribute('class', 'restricted');
        else document.body.setAttribute('class', '');
      }

  body
    div#header.right
      a(href="resume.pdf"): img#pdf.no-print(src="PDF.png")
      span.name George Matter VI
      br
      span.email: a(href='mailto:"George Matter"<george.m@tter.vi>') george.m@tter.vi
      br
      span (206) 669-8741

    section
      div.section-title Job Objective
      p.content
        | I am a <b>Software Engineer</b> looking to pivot into <b>Information Security</b>.
        | I am looking for an <b>Internship</b> in information security, or other opportunities to develop security sills, preferably with mentorship.
        | I have experience working for <b>Educational Non-Profit Organizations</b>, and have developed software for both greenfield and legacy software systems.

    section.work
      div.section-title Work Experience
      div.content
        div.text-center
          p
            b Volunteer / Mentor
            br
            | January 2015 - Ongoing
          p
            b Evangelist / Organizer
            br
            | June 2013 - Sept 2014
        div
          b: a(href="https://codeday.org") CodeDay
          p
            | CodeDay is a nationwide beginner-oriented hackathon.
            | I have been involved with CodeDay since 2012, in both managerial and operational capacities.
            | I have hosted CodeDay events in Seattle and Portland, and assist with current events as a mentor. 
            b I have experience guiding students in their own self-directed learning endevors, and in fostering excitement and self-confidence about computer technology.
      div.content
        div.text-center
          p
            b Webmaster
            br
            | July 2014 - Ongoing
          p
            b Member / Volunteer
            br
            | April 2011 - Ongoing
        div
          b: a(href="https://theveraproject.org") The Vera Project
          p The Vera Project is a <b>non-profit</b>, <b>all-ages</b> music and arts education space in Seattle. Vera hosts public art shows, music performances, and <b>educational workshops</b>, and maintains music and art studios for its members. I am a voting member of the organization, regularly work shows, and manage the network hardware and technical aspects of the <b>Wordpress</b> website.
      div.content
        div.text-center
          p
            b Software Engineer
            br
            | July 2016 - March 2017
          p
            b Software Engineering Intern
            br
            | June 2015 - August 2015
        div
          b: a(href="https://socrata.com") Socrata
          ul
            li Provisioned <b>AWS infrastructure</b> for 3rd-party appliance.
            li Patched various systems to integrate with 3rd-party authentication service.
            li Patched core back-end data storage systems.
            li Integrated existing systems with Google Bigquery for <b>terabyte-scale datasets</b>.
      div.content
        div.text-center 
          p
            b Junior Software Engineer
            br
            | Sept 2014 - March 2015
          p
            b Intern (Architecture Team)
            br
            | June 2015 - Sept 2014
        div 
          b: a(href="https://tune.com") Tune
          ul
            li <b>Designed and built dev tools</b> for organization-wide transisition to ReactJS.
            li Built a utility bot for the engineering team's chat system.
            li Built frontend for new <b>authentication microservice</b>.

    section
      div.section-title Skills
      ul.content
        li Programming Languages: <b>Go</b>, <b>Javascript</b>, <b>Python</b>, <b>Bash</b>, <b>Java</b>, <b>Scala</b>, C#, C, Ruby, PHP
        li Database Systems: <b>Postgres</b>, <b>Redis</b>, MongoDB, MySQL
        li Service Deployment: <b>Amazon Web Services</b>, <b>Docker</b>, Consul, ZooKeeper 
        li Linux Server Management, perticularly <b>Debian</b> and Debian-based distributions
        li Smartphone App Development: <b>Android</b> and Windows Phone

    section
      div.section-title Education
      div.content
        p <b>Computer Science</b> at <b>University of Washington</b>
        | Selected courses:
        ul.split
          div(style="width: 39%;")
            li: b Grad-level Programming Languages
            li Compiler Construction
            li Systems Programming
          div(style="width: 35%;")
            li: b Computer Security
            li Machine Learning
            li Computer Networking
          div(style="width: 26%;")
            li: b Cryptography
            li Algroithm Analysis
            li Complexity Theory

    section.no-print
      div.section-title
        | Selected Projects
        a.right(href="https://github.com/gmvi") github.com/gmvi
      ul.content
        li
          | P2P Turntable.fm Clone
          span.project-year (2014 - ongoing)
        ul: li Turntable.fm-inspired playlisting system for use in physical spaces, adding support for local peer-to-peer song additions and external embedding (e.g. from YouTube or SoundCloud).
        li
          a(href="https://github.com/zaqthefreshman/vendttp") The StudentRND Vending Machine
          span.project-year (2013)
        ul
          li
            | Reengineered broken machine for 
            a(href="http://studentrnd.org") StudentRND
            |  workspace. Replaced motherboard with a desktop PC <br/> and an Arduino.
            |  Added an RFID-based login system, and a Windows Phone touchpad user-interface.

    div#footer
      != "A hyperlinked version of this r&eacute;sum&eacute; can be found at "
      b http://gmvi.github.io/resume

    script(type="text/javascript") window.onresize();
