html
  head
    title George Matter's R&eacute;sum&eacute;
    link(rel="stylesheet", href="resume.css")
    script(type="text/javascript").
      window.onresize = function()
      { if (window.innerWidth > 880) document.body.setAttribute('class', 'restricted');
        else document.body.setAttribute('class', '');
      }

  body
    div#header.right
      a#name(href="https://github.com/MadhATTER6") George Matter VI
      br
      a#email(href='mailto:"George Matter VI"<george.matter.vi@gmail.com>') George.Matter.VI@gmail.com
      br
      span (206) 669-8741
    div.section Job Objective
    p.content An <b>Internship</b> in <b>Software Engineering</b>, especially one involving <b>Data Analysis</b>
    div.section Skills
    ul.content
      li Programming Languages: <b>Python</b>, <b>Javascript</b>, <b>Java</b>, <b>C#</b>, C
      li Smartphone App Development: <b>Windows Phone</b> and <b>Android</b>
      li Full-Stack <b>Web Development</b>:
      ul
        li
          | Front End Programming and Design; 
          | <b>Node.js</b> + Express, <b>Flask</b> (Python), PHP; 
          | <b>SQL</b>, <b>Redis</b>
      li Experience using <b>SCRUM</b> techniques for group projects

    div.section
      | Selected Projects
      a.right(href="https://github.com/MadhATTER6") github.com/MadhATTER6
    ul.content
      li
        a(href="https://github.com/MadhATTER6/Party-Panda") Party-Panda
        span.project-year (2014 - ongoing)
      ul: li Pandora playlist controller with communal voting.
      li
        a(href="https://github.com/MadhATTER6/2d-chatroom") a 2D chat-"room" with positional locality
        span.project-year (2013 - ongoing)
      ul: li A prject to teach myself Node.js, Express, Jade, LESS, Redis, and Bootstrap.
      li
        a(href="https://github.com/MadhATTER6/CodeDay-Playlist") CodeDay-Playlist
        span.project-year (2013 - ongoing)
      ul: li LAN music library with communal playlist building, intended for low-internet-bandwidth hackathons.
      li
        a(href="https://github.com/zaqthefreshman/vendttp") The StudentRND Vending Machine
        span.project-year (2013)
      ul
        li
          | Reengineered broken machine for 
          a(href="http://studentrnd.org") StudentRND
          |  workspace. Replaced motherboard with a desktop PC <br/> and an Arduino.
          |  Added an RFID-based login system, and a Windows Phone touchpad user-interface.
      li
        | A Morse Code text messaging app for Android
        span.project-year (2011 - 2012)
      li.no-print
        | A Website to organize games of 
        a(href="https://wikipedia.org/wiki/assassin_(game)") Assassin (AKA Gotcha)
        span.project-year (2008 - 2010)

    div.section Education
    ul.content
      li University of Washington, Seattle Campus, Class of 2016
      ul
        li Majoring in <b>Computer Science</b>, with plans to dual major in <b>Applied Math</b>
        li 3.4 GPA Overall
        li <b>3.5 GPA in Computer Science</b> Classes
        li Selected Courses
        ul.split
          div
            li Linear Algebra
            li The Hardware-Software Interface
          div
            li Data Structures and Algorithms
            li Foundations of Computing I & II
      li Garfield High School, Class of 2012
      ul
        li Programming Club, co-founder and co-president
        li Robotics Team, co-president

    div.section Work Experience:
    div.split.content
      div June 2013 - Ongoing
      div
        a(href="http://studentrnd.org") StudentRND
        | ; 
        a(href="http://codeday.org") CodeDay
        |  Student Hackathon Series, Evangelist and Organizer
        ul
          li Facilitator: Portland Summer 2013
          li Organizer: Seattle Fall 2013
          li Evangelist / Facilitator: Portland Winter 2014
    div.split.content
      div Summer 2011 - Summer 2013
      div
        | Construction Labor
        ul: li Roofing, Electrical, Flooring, Siding
    div.split.content
      div Summer 2010
      div
        | NOAA; Northwest Fisheries Science Center, Internship
        ul
          li
            | Prepared workshop material and assisted in workshop on climate change
            br
            | for disabled students

    div.section Other Activities and Achievements
    ul.content
      li!= "Shito&#x304;-ryu&#x304; Karate (2002 - 2012)"
      li
        | Best Application, CodeDay Portland Fall 2012, for 
        a(href="https://github.com/aaasen/Thingsmith") a peer-to-peer 3D-printing as-a-service website
      li.no-print First place team, Math is Cool Competition, 2010

    div#footer
      != "A hyperlinked version of this r&eacute;sum&eacute; can be found at "
      b http://madhatter6.github.io/resume

    script(type="text/javascript") window.onresize();